
<div class="tu-footer">
  <div class="tu-wrapper row">

    <div class="col-12 col-md-4">
      <ul>
        <li><a>About</a></li>
        <li><a>Terms of use</a></li>
        <li><a>Privacy policy</a></li>
        <li><a>Refund policy</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-4">
      <ul>
        <li><a>Help</a></li>
        <li><a>Supports</a></li>
        <li><a>Legal</a></li>
        <li><a>Copyright</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-4">
      <ul>
        <li><a>Facebook</a></li>
        <li><a>Twitter</a></li>
        <li><a>Instagram</a></li>
        <li><a>Google</a></li>
      </ul>
    </div>

  </div>
</div>
