<div class="tu-dashboard">
  <app-sidebar></app-sidebar>

  <div class="tu-dashboard__main">
    <div class="tu-wrapper">
      <h2 style="text-align:center;">Your Devices</h2>
      <div class="tu-dashboard__devices row">

        <div class="col-12 col-sm-6 col-md-4">

          <div class="tu-dashboard__devices__item">

            <div class="tu-dashboard__devices__item__actions">
              <ul>
                <li><a href="#"><i class="fa fa-times"></i></a></li>
                <li><a href="#"><i class="fa fa-pencil"></i></a></li>

              </ul>
            </div>

            <div class="tu-dashboard__devices__item__status">
              <i class="fa fa-signal"></i>
            </div>

            <div class="tu-dashboard__devices__item__name">
              Armen
            </div>

          </div>

        </div>

        <div class="col-12 col-sm-6 col-md-4">

          <div class="tu-dashboard__devices__item">

            <div class="tu-dashboard__devices__item__actions">
              <ul>
                <li><a href="#"><i class="fa fa-times"></i></a></li>
                <li><a href="#"><i class="fa fa-pencil"></i></a></li>

              </ul>
            </div>

            <div class="tu-dashboard__devices__item__status">
              <i class="fa fa-signal"></i>
            </div>

            <div class="tu-dashboard__devices__item__name">
              Armen
            </div>

          </div>

        </div>

        <div class="col-12 col-sm-6 col-md-4">

          <div class="tu-dashboard__devices__item">

            <div class="tu-dashboard__devices__item__actions">
              <ul>
                <li><a href="#"><i class="fa fa-times"></i></a></li>
                <li><a href="#"><i class="fa fa-pencil"></i></a></li>

              </ul>
            </div>

            <div class="tu-dashboard__devices__item__status">
              <i class="fa fa-signal"></i>
            </div>

            <div class="tu-dashboard__devices__item__name">
              Armen
            </div>

          </div>

        </div>
        <div class="col-12 col-sm-6 col-md-4">

          <div class="tu-dashboard__devices__item">

            <div class="tu-dashboard__devices__item__actions">
              <ul>
                <li><a href="#"><i class="fa fa-times"></i></a></li>
                <li><a href="#"><i class="fa fa-pencil"></i></a></li>

              </ul>
            </div>

            <div class="tu-dashboard__devices__item__status">
              <i class="fa fa-signal"></i>
            </div>

            <div class="tu-dashboard__devices__item__name">
              Armen
            </div>

          </div>

        </div>
        <div class="col-12 col-sm-6 col-md-4">

          <div class="tu-dashboard__devices__item">

            <div class="tu-dashboard__devices__item__actions">
              <ul>
                <li><a href="#"><i class="fa fa-times"></i></a></li>
                <li><a href="#"><i class="fa fa-pencil"></i></a></li>

              </ul>
            </div>

            <div class="tu-dashboard__devices__item__status">
              <i class="fa fa-signal"></i>
            </div>

            <div class="tu-dashboard__devices__item__name">
              Armen
            </div>

          </div>

        </div>



      </div>

  <h2 style="text-align:center;">Dashboard</h2>

  <div class="tu-dashboard__features row">

    <div class="tu-dashboard__features__item__cell col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="tu-dashboard__features__item">
        <div class="tu-dashboard__features__item__icon">
          <i class="fa fa-envelope"></i>
        </div>
        <div class="tu-dashboard__features__item__number">
          6
        </div>
        <div class="tu-dashboard__features__item__name">
          SMS
        </div>
      </div>
    </div>

    <div class="tu-dashboard__features__item__cell col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="tu-dashboard__features__item">
        <div class="tu-dashboard__features__item__icon">
          <i class="fa fa-file"></i>
        </div>
        <div class="tu-dashboard__features__item__number">
          3
        </div>
        <div class="tu-dashboard__features__item__name">
          MMS
        </div>
      </div>
    </div>

    <div class="tu-dashboard__features__item__cell col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="tu-dashboard__features__item">
        <div class="tu-dashboard__features__item__icon">
          <i class="fa fa-phone"></i>
        </div>
        <div class="tu-dashboard__features__item__number">
          6
        </div>
        <div class="tu-dashboard__features__item__name">
          CALLS
        </div>
      </div>
    </div>

    <div class="tu-dashboard__features__item__cell col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="tu-dashboard__features__item">
        <div class="tu-dashboard__features__item__icon">
          <i class="fa fa-location-arrow"></i>
        </div>
        <div class="tu-dashboard__features__item__number">
          6
        </div>
        <div class="tu-dashboard__features__item__name">
          LOCATIONS
        </div>
      </div>
    </div>

    <div class="tu-dashboard__features__item__cell col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="tu-dashboard__features__item">
        <div class="tu-dashboard__features__item__icon">
          <i class="fa fa-image"></i>
        </div>
        <div class="tu-dashboard__features__item__number">
          6
        </div>
        <div class="tu-dashboard__features__item__name">
          PICTURES
        </div>
      </div>
    </div>

    <div class="tu-dashboard__features__item__cell col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="tu-dashboard__features__item">
        <div class="tu-dashboard__features__item__icon">
          <i class="fa fa-gamepad"></i>
        </div>
        <div class="tu-dashboard__features__item__number">
          6
        </div>
        <div class="tu-dashboard__features__item__name">
          APPS
        </div>
      </div>
    </div>

    <div class="tu-dashboard__features__item__cell col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="tu-dashboard__features__item">
        <div class="tu-dashboard__features__item__icon">
          <i class="fa fa-calendar"></i>
        </div>
        <div class="tu-dashboard__features__item__number">
          6
        </div>
        <div class="tu-dashboard__features__item__name">
          CALENDAR
        </div>
      </div>
    </div>

    <div class="tu-dashboard__features__item__cell col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="tu-dashboard__features__item">
        <div class="tu-dashboard__features__item__icon">
          <i class="fa fa-address-book"></i>
        </div>
        <div class="tu-dashboard__features__item__number">
          6
        </div>
        <div class="tu-dashboard__features__item__name">
          CONTACTS
        </div>
      </div>
    </div>



  </div>

  <hr/>

  <div class="tu-dashboard__features row">

    <div class="tu-dashboard__features__item__cell col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="tu-dashboard__features__item">
        <div class="tu-dashboard__features__item__icon">
          <i class="fa fa-chrome"></i>
        </div>
        <div class="tu-dashboard__features__item__number">
          6
        </div>
        <div class="tu-dashboard__features__item__name">
          WEB
        </div>
      </div>
    </div>

    <div class="tu-dashboard__features__item__cell col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="tu-dashboard__features__item">
        <div class="tu-dashboard__features__item__icon">
          <i class="fa fa-clipboard"></i>
        </div>
        <div class="tu-dashboard__features__item__number">
          6
        </div>
        <div class="tu-dashboard__features__item__name">
          CLIPBOARD
        </div>
      </div>
    </div>

    <div class="tu-dashboard__features__item__cell col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="tu-dashboard__features__item">
        <div class="tu-dashboard__features__item__icon">
          <i class="fa fa-mobile"></i>
        </div>
        <div class="tu-dashboard__features__item__number">
          6
        </div>
        <div class="tu-dashboard__features__item__name">
          SCREEN SHOT
        </div>
      </div>
    </div>

    <div class="tu-dashboard__features__item__cell col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="tu-dashboard__features__item">
        <div class="tu-dashboard__features__item__icon">
          <i class="fa fa-eye"></i>
        </div>
        <div class="tu-dashboard__features__item__number">
          6
        </div>
        <div class="tu-dashboard__features__item__name">
          INSTANT MESSAGING
        </div>
      </div>
    </div>



  </div>





    </div>
  </div>
</div>
